<div class="container destaque">
  <div class="locations-data">
    <section class="busca">
      <h2>Busca</h2>

      <form>
        <input type="text" />
        <img src="assets/busca.png" alt="Busca" />
      </form>
    </section>

    <section class="menu-departamentos">
      <h1>{{ title }}</h1>

      <nav>
        <ul>
        </ul>
      </nav>
    </section>
  </div>

  <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.0189331754477!2d-46.68608808502207!3d-23.567763484679723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57770700cc5f%3A0xe582cfda1f83700c!2sAv.%20Rebou%C3%A7as%2C%202499%20-%20Pinheiros%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2005401-300!5e0!3m2!1spt-BR!2sbr!4v1631659740172!5m2!1spt-BR!2sbr"
  width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
