@import "../../../app";

locationheader {
  section {
    background-color: $bgColor;
    display: flex;
    justify-content: space-between;

    nav {
      display: flex;
      flex-flow: column-reverse;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          margin: 10px;
          font-size: 1rem;

          a {
            color: $darkTextColor;
          }
        }
      }
    }
  }

  h1 {
    padding: 10px;
  }
}

@media screen and (max-width: 940px) {
  locationheader {
    width: 100%;
    .container {
      width: 100%;
    }
  }
}
